# Ambientes Virtuais do Python
/venv
/.venv
/env
/.env

# Arquivos de Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Artefatos de Machine Learning e Dados
# Em vez de ignorar a pasta inteira, ignoramos apenas os arquivos de modelo
# e de dados gerados, permitindo que os scripts .py sejam versionados.
app/ml/*.pkl
app/ml/*.json

# Pasta de treinamento de ML (continua sendo ignorada)
/MachineLearning/

# Arquivos gerados pelo processo de treinamento original
/output/

# Ignora planilhas ou dados que possam ser colocados na raiz
*.csv
*.xlsx

# Arquivos de configuração de IDEs e Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de log
*.log